*{
    margin: 0px;
    margin-top: 0%;
    
}
section{
    height: 800px;
}
.sec1{
    background-color:black;
}
.spangr{
    color: greenyellow;
}
.title1{
    font-size: 80px;
    color: greenyellow;
    text-align: center;
}
.logo{
    
    margin-left: 2%;
}

.sec2{
    background-color: greenyellow;
}
.title2{
    font-size: 60px;
    text-align: center;
}
.inf{
  display: flex;
}
.sec3{
    display: flex;
}
.sec3_1{
    width: 50%;
    background-color: greenyellow;
}
.sec3_2{
    width: 50%;
    background-color: black;
}